.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
   background: linear-gradient(90deg, #6366f1 0%, #4f46e5 100%);
  position: relative;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* margin-right: 20px; */
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}

.hamburger:hover span {
  background-color: #ccc;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-right: 800px;

}

nav {
  display: flex;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #ccc;
}
