.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(90deg, #0077ff, #00b4d8);
  position: relative;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* margin-right: 20px; */
}

.hamburger span {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}

.hamburger:hover span {
  background-color: #ccc;
}

.logo a {
  text-decoration: none;
  color: white;
  margin-right: 900px;
  font-size: x-large;
}

.logo img {
  height: 60px;
  width: auto;
  margin-bottom: -20px;
  margin-top: -9px;
}

nav {
  display: flex;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;

}

nav a:hover {
  color: #ccc;
}
